In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

#Regression
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge,Lasso
from sklearn.linear_model import ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import ExtraTreeRegressor
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.preprocessing import normalize,scale

#Classification
from sklearn.naive_bayes import MultinomialNB,GaussianNB,BernoulliNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix,precision_score,recall_score,f1_score

In [2]:
def classification_(train,y):
    
    
    g=GaussianNB()
    b=BernoulliNB()
    k=KNeighborsClassifier()
    svc=SVC()
    d=DecisionTreeClassifier()
    log=LogisticRegression()
    gbc=GradientBoostingClassifier()
    mn=MultinomialNB()
    rf=RandomForestClassifier()
    ab=AdaBoostClassifier()

    x=train
    y=y
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)
    algos=[g,b,k,svc,d,log,gbc,mn,rf,ab]
    algos_name=['Gaussian','Bernoulli','KNeigbors','SVC','DecisionTree','LogisticRegr','GradientBoosting','Multinominal','RandomForest','AdaBoost']
    
    accuracy = []
    precision = []
    recall = []
    f1 = []
   
    result=pd.DataFrame(columns=['AccuracyScore','PrecisionScore','RecallScore','f1_Score'],index=algos_name)
    
    for i in algos:
        
        predict=i.fit(x_train,y_train).predict(x_test)
        
        accuracy.append(accuracy_score(y_test,predict))
        precision.append(precision_score(y_test,predict))
        recall.append(recall_score(y_test,predict))
        f1.append(f1_score(y_test,predict))
        

    
    
    result.AccuracyScore=accuracy
    result.PrecisionScore=precision
    result.RecallScore=recall
    result.f1_Score=f1
    
    
    return result.sort_values('f1_Score',ascending=False)

In [3]:
def regression_(x,y):
    
    lr=LinearRegression()
    r=Ridge()
    l=Lasso()
    e=ElasticNet()
    kn=KNeighborsRegressor()
    et=ExtraTreeRegressor()
    gb=GradientBoostingRegressor()
    dt=DecisionTreeRegressor()
    xgb=XGBRegressor()
       
    algos=[lr,r,l,e,kn,et,gb,dt,xgb]
    algos_names=['LinearRegressor','Ridge','Lasso','ElasticNet','KNeighbors','ExtraTree','GradientBoosting','DecisionTree','XGB']
    
    #x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)
    
    r_score=[]
    mse=[]
    mae=[]
    
    result=pd.DataFrame(columns=['R_square','MSE','MAE'],index=algos_names)
    
    for algo in algos:
        pred=algo.fit(x,y).predict(x)
        r_score.append(r2_score(y,pred))
        mse.append(mean_squared_error(y,pred)**.5)
        mae.append(mean_absolute_error(y,pred))
    
    
    result.R_square=r_score
    result.MSE=mse
    result.MAE=mae
    
    return result.sort_values('R_square',ascending=False)

In [4]:
df=pd.read_csv("LoansTrainingSet.csv",low_memory=False)

In [5]:
df.drop_duplicates(inplace=True)
df

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,NaN,12,0,17391,37081,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256979,fffef5b7-be99-4666-ac70-2a397d2ee435,7211a8e3-cba4-4132-b939-222eed8a662c,Fully Paid,3911,Short Term,NaN,2 years,Rent,NaN,Debt Consolidation,"$1,706.58",19.9,NaN,16,0,43992,44080,0.0,0.0
256980,ffffca93-aa8c-4123-b8ff-7852f6df889a,616fef0c-8f09-4327-9b5c-48fcfaa52934,Fully Paid,5078,Short Term,737.0,10+ years,Own Home,77186.0,Debt Consolidation,"$1,376.47",19.1,47.0,9,0,1717,9758,0.0,0.0
256981,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,Charged Off,12116,Short Term,7460.0,9 years,Home Mortgage,52504.0,Debt Consolidation,$297.96,15.1,82.0,8,0,3315,20090,0.0,0.0
256982,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,Charged Off,12116,Short Term,746.0,9 years,Home Mortgage,52504.0,Debt Consolidation,$297.96,15.1,82.0,8,0,3315,20090,0.0,0.0
256983,ffffe32e-ed17-459f-9cfd-7b9ee7972933,97281336-1e45-41d2-acb2-263ce56a590e,Fully Paid,27902,Long Term,678.0,10+ years,Home Mortgage,117480.0,Debt Consolidation,"$2,525.82",18.0,11.0,10,0,28317,62371,0.0,0.0

In [6]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     59346
Years in current job             10444
Home Ownership                       0
Annual Income                    59346
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    131427
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                       492
Tax Liens                           23
dtype: int64

In [7]:
df['Credit Score']=df['Credit Score'].apply(lambda x:x/10 if x>800 else x)
#kredi puanı 0-800 arası olması gerekiyor bu aralığın dışında kalanları atıyoruz

In [8]:
df['Credit Score']=df['Credit Score'].fillna(df['Credit Score'].median())

In [9]:
df['Monthly Debt']=df['Monthly Debt'].str.replace('$','').str.replace(',','').astype(float)
#$ işarteini kaldırıp sütunu float a çevirdik

In [10]:
df['Years in current job']=df['Years in current job'].str.extract(r'(\d+(\.\d+)?)')
#sütundan yazıları tek tek atmak yerine bu fonksiyonla rakam olmayan her şeyi atıyoruz

In [11]:
df['Years in current job']=df['Years in current job'].fillna(0)

In [12]:
df['Years in current job']=df['Years in current job'].astype(int)

In [13]:
df['Loan Status']=df['Loan Status'].replace({'Fully Paid':1,'Charged Off':0})

In [14]:
df['Term']=df['Term'].astype('category')
#object olan sütunları category ye çevirirsen ram de daha az yer kaplar

In [15]:
df['Home Ownership'].replace({'Home Mortgage':'Mortgage','HaveMortgage':'Mortgage'},inplace=True)

In [16]:
df['Home Ownership'].unique()

array(['Mortgage', 'Own Home', 'Rent'], dtype=object)

In [17]:
df['Purpose'].replace({'Other':'other'},inplace=True)

In [18]:
df['Maximum Open Credit']=df['Maximum Open Credit'].str.extract(r'(d\+)',expand=False).astype(float)

In [19]:
df['Maximum Open Credit']=df['Maximum Open Credit'].fillna(df['Maximum Open Credit'].median())

In [20]:
df['Bankruptcies']=df['Bankruptcies'].fillna(df['Bankruptcies'].median())

In [21]:
df['Tax Liens']=df['Tax Liens'].fillna(df['Tax Liens'].median())

In [22]:
df.drop_duplicates(subset=['Loan ID','Customer ID'],inplace=True)

In [23]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                         0
Years in current job                 0
Home Ownership                       0
Annual Income                    55008
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    118262
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit             215700
Bankruptcies                         0
Tax Liens                            0
dtype: int64

In [24]:
df=df.drop(columns=['Months since last delinquent','Maximum Open Credit'],axis=1)

In [25]:
df

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,1,11520,Short Term,741.0,10,Mortgage,33694.0,Debt Consolidation,584.03,12.3,10,0,6760,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,1,3441,Short Term,734.0,4,Mortgage,42269.0,other,1106.04,26.3,17,0,6262,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,1,21029,Short Term,747.0,10,Mortgage,90126.0,Debt Consolidation,1321.85,28.8,5,0,20967,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,1,18743,Short Term,747.0,10,Own Home,38072.0,Debt Consolidation,751.92,26.2,9,0,22529,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,1,11731,Short Term,746.0,4,Rent,50025.0,Debt Consolidation,355.18,11.5,12,0,17391,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256977,fffe84cf-67a1-468d-ab7b-cf06a9c4ee14,460c6cf5-4d12-4e3c-a3d0-46dd67c78cce,0,11953,Short Term,717.0,10,Mortgage,39844.0,Debt Consolidation,982.82,11.7,9,1,4176,1.0,0.0
256979,fffef5b7-be99-4666-ac70-2a397d2ee435,7211a8e3-cba4-4132-b939-222eed8a662c,1,3911,Short Term,731.0,2,Rent,NaN,Debt Consolidation,1706.58,19.9,16,0,43992,0.0,0.0
256980,ffffca93-aa8c-4123-b8ff-7852f6df889a,616fef0c-8f09-4327-9b5c-48fcfaa52934,1,5078,Short Term,737.0,10,Own Home,77186.0,Debt Consolidation,1376.47,19.1,9,0,1717,0.0,0.0
256981,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,0,12116,Short Term,746.0,9,Mortgage,52504.0,Debt Consolidation,297.96,15.1,8,0,3315,0.0,0.0
256983,ffffe32e-ed17-459f-9cfd-7b9ee7972933,97281336-1e45-41d2-acb2-263ce56a590e,1,27902,Long Term,678.0,10,Mortgage,117480.0,Debt Consolidation,2525.82,18.0,10,0,28317,0.0,0.0

### Regression

In [26]:
df['Annual Income'].isnull().sum()

55008

In [27]:
abs(df.corr()['Annual Income']).sort_values(ascending=False)

Annual Income                1.000000
Monthly Debt                 0.466860
Current Credit Balance       0.303590
Years of Credit History      0.154597
Number of Open Accounts      0.144506
Years in current job         0.096550
Loan Status                  0.055320
Bankruptcies                 0.047816
Tax Liens                    0.035591
Number of Credit Problems    0.018045
Current Loan Amount          0.015076
Credit Score                 0.013608
Name: Annual Income, dtype: float64

In [28]:
missing=df[df['Annual Income'].isnull()]
filled=df[df['Annual Income'].notnull()]

In [29]:
missing.shape,filled.shape

((55008, 17), (160692, 17))

In [30]:
abs(filled.corr()['Annual Income'].sort_values(ascending=False))

Annual Income                1.000000
Monthly Debt                 0.466860
Current Credit Balance       0.303590
Years of Credit History      0.154597
Number of Open Accounts      0.144506
Years in current job         0.096550
Loan Status                  0.055320
Tax Liens                    0.035591
Current Loan Amount          0.015076
Credit Score                 0.013608
Number of Credit Problems    0.018045
Bankruptcies                 0.047816
Name: Annual Income, dtype: float64

In [31]:
y=filled['Annual Income']
x=filled[['Monthly Debt','Current Credit Balance']]

In [32]:
regression_(x,y)

                  R_square           MSE           MAE
ExtraTree         0.999642   1100.822120     26.469593
DecisionTree      0.999642   1100.822120     26.469593
XGB               0.529879  39907.283641  22814.568377
KNeighbors        0.381704  45766.290389  21613.860488
GradientBoosting  0.308119  48413.132657  23497.763665
LinearRegressor   0.226402  51192.379784  23987.874206
Ridge             0.226402  51192.379784  23987.874206
Lasso             0.226402  51192.379784  23987.874168
ElasticNet        0.226402  51192.379784  23987.872604

In [33]:
del missing['Annual Income']

In [34]:
et=ExtraTreeRegressor()
pred=et.fit(x,y).predict(missing[['Monthly Debt','Current Credit Balance']])

In [35]:
missing.loc[:,'Annual Income']=pred

In [36]:
df=missing.append(filled)

In [37]:
df

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens,Annual Income
8,00011dfc-31c1-4178-932a-fbeb3f341efb,ef6e098c-6c83-4752-8d00-ff793e476b8c,1,10036,Short Term,731.0,5,Rent,Debt Consolidation,386.36,17.7,7,0,11970,0.0,0.0,29696.0
12,00029f9f-0cc5-4d4e-aabc-ea4a7fe74e12,afbc2fa3-3bad-4d48-b691-829aed78bad5,0,17980,Short Term,731.0,1,Own Home,Debt Consolidation,597.50,9.9,7,0,6817,0.0,0.0,70931.0
20,00038a08-f058-4add-a8ed-497b91672a9e,727bb429-dfa1-41c4-a347-23230e23949f,0,16929,Long Term,731.0,3,Mortgage,Debt Consolidation,745.70,14.9,10,0,28513,0.0,0.0,40756.0
22,0003b749-307f-4830-9fb4-9db7ed1b1c48,998dc43c-f9ce-466e-bdaa-7057b0bbb9cd,1,7228,Short Term,731.0,3,Mortgage,Debt Consolidation,439.56,17.8,13,1,8488,1.0,0.0,91026.0
26,0004d002-a494-4f8a-a528-a6d513812701,4722d542-6684-431c-afb6-ba2e847f1098,1,4612,Short Term,731.0,10,Rent,Debt Consolidation,262.27,14.0,4,0,8919,0.0,0.0,36371.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256975,fffe5140-8725-4fd1-b3bf-9e59cb7834eb,df856c29-ce44-4df7-94a6-bd758a1c1332,0,34710,Short Term,700.0,9,Rent,Business Loan,47.11,34.0,3,0,2590,0.0,0.0,148755.0
256977,fffe84cf-67a1-468d-ab7b-cf06a9c4ee14,460c6cf5-4d12-4e3c-a3d0-46dd67c78cce,0,11953,Short Term,717.0,10,Mortgage,Debt Consolidation,982.82,11.7,9,1,4176,1.0,0.0,39844.0
256980,ffffca93-aa8c-4123-b8ff-7852f6df889a,616fef0c-8f09-4327-9b5c-48fcfaa52934,1,5078,Short Term,737.0,10,Own Home,Debt Consolidation,1376.47,19.1,9,0,1717,0.0,0.0,77186.0
256981,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,0,12116,Short Term,746.0,9,Mortgage,Debt Consolidation,297.96,15.1,8,0,3315,0.0,0.0,52504.0
256983,ffffe32e-ed17-459f-9cfd-7b9ee7972933,97281336-1e45-41d2-acb2-263ce56a590e,1,27902,Long Term,678.0,10,Mortgage,Debt Consolidation,2525.82,18.0,10,0,28317,0.0,0.0,117480.0

In [38]:
df.isnull().sum()

Loan ID                      0
Customer ID                  0
Loan Status                  0
Current Loan Amount          0
Term                         0
Credit Score                 0
Years in current job         0
Home Ownership               0
Purpose                      0
Monthly Debt                 0
Years of Credit History      0
Number of Open Accounts      0
Number of Credit Problems    0
Current Credit Balance       0
Bankruptcies                 0
Tax Liens                    0
Annual Income                0
dtype: int64

### Classification

In [39]:
df['Loan Status'].value_counts()

1    176191
0     39509
Name: Loan Status, dtype: int64

In [40]:
df['Term'].unique()

['Short Term', 'Long Term']
Categories (2, object): ['Short Term', 'Long Term']

In [41]:
df['Years in current job'].unique()

array([ 5,  1,  3, 10,  0,  8,  7,  2,  6,  4,  9])

In [42]:
df

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens,Annual Income
8,00011dfc-31c1-4178-932a-fbeb3f341efb,ef6e098c-6c83-4752-8d00-ff793e476b8c,1,10036,Short Term,731.0,5,Rent,Debt Consolidation,386.36,17.7,7,0,11970,0.0,0.0,29696.0
12,00029f9f-0cc5-4d4e-aabc-ea4a7fe74e12,afbc2fa3-3bad-4d48-b691-829aed78bad5,0,17980,Short Term,731.0,1,Own Home,Debt Consolidation,597.50,9.9,7,0,6817,0.0,0.0,70931.0
20,00038a08-f058-4add-a8ed-497b91672a9e,727bb429-dfa1-41c4-a347-23230e23949f,0,16929,Long Term,731.0,3,Mortgage,Debt Consolidation,745.70,14.9,10,0,28513,0.0,0.0,40756.0
22,0003b749-307f-4830-9fb4-9db7ed1b1c48,998dc43c-f9ce-466e-bdaa-7057b0bbb9cd,1,7228,Short Term,731.0,3,Mortgage,Debt Consolidation,439.56,17.8,13,1,8488,1.0,0.0,91026.0
26,0004d002-a494-4f8a-a528-a6d513812701,4722d542-6684-431c-afb6-ba2e847f1098,1,4612,Short Term,731.0,10,Rent,Debt Consolidation,262.27,14.0,4,0,8919,0.0,0.0,36371.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256975,fffe5140-8725-4fd1-b3bf-9e59cb7834eb,df856c29-ce44-4df7-94a6-bd758a1c1332,0,34710,Short Term,700.0,9,Rent,Business Loan,47.11,34.0,3,0,2590,0.0,0.0,148755.0
256977,fffe84cf-67a1-468d-ab7b-cf06a9c4ee14,460c6cf5-4d12-4e3c-a3d0-46dd67c78cce,0,11953,Short Term,717.0,10,Mortgage,Debt Consolidation,982.82,11.7,9,1,4176,1.0,0.0,39844.0
256980,ffffca93-aa8c-4123-b8ff-7852f6df889a,616fef0c-8f09-4327-9b5c-48fcfaa52934,1,5078,Short Term,737.0,10,Own Home,Debt Consolidation,1376.47,19.1,9,0,1717,0.0,0.0,77186.0
256981,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,0,12116,Short Term,746.0,9,Mortgage,Debt Consolidation,297.96,15.1,8,0,3315,0.0,0.0,52504.0
256983,ffffe32e-ed17-459f-9cfd-7b9ee7972933,97281336-1e45-41d2-acb2-263ce56a590e,1,27902,Long Term,678.0,10,Mortgage,Debt Consolidation,2525.82,18.0,10,0,28317,0.0,0.0,117480.0

In [43]:
df['Bankruptcies'].describe()

count    215700.000000
mean          0.110325
std           0.336538
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           7.000000
Name: Bankruptcies, dtype: float64

In [44]:
df.groupby('Term')['Loan Status'].value_counts()
#Kısa vadeli kredi alan insanların kredilerini ödediklerini,temerrüde daha az bıraktıklarını görüyoruz bu sebeple kısa vadeli
#krediye 2,uzun vadeli krediye 1 vereceğim çünkü biz kredisini tam ödeyen insanları arıyoruz

Term        Loan Status
Long Term   1               34619
            0               14558
Short Term  1              141572
            0               24951
Name: Loan Status, dtype: int64

In [45]:
df['Home Ownership'].value_counts()

Mortgage    106987
Rent         89619
Own Home     19094
Name: Home Ownership, dtype: int64

In [46]:
df.describe()

,Loan Status,Current Loan Amount,Credit Score,Years in current job,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens,Annual Income
count,215700.000000,2.157000e+05,215700.000000,215700.000000,215700.000000,215700.000000,215700.000000,215700.000000,2.157000e+05,215700.000000,215700.000000,2.157000e+05
mean,0.816834,1.633515e+07,725.461813,5.711025,960.396602,18.359758,11.077566,0.155424,1.545722e+04,0.110325,0.026328,7.350796e+04
std,0.386804,3.695307e+07,22.957961,3.625758,634.782724,7.057999,4.971825,0.457972,1.975031e+04,0.336538,0.240841,5.665283e+04
min,0.000000,5.050000e+02,585.000000,0.000000,0.000000,3.400000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,4.033000e+03
25%,1.000000,8.328750e+03,722.000000,2.000000,527.647500,13.600000,8.000000,0.000000,5.933000e+03,0.000000,0.000000,4.499100e+04
50%,1.000000,1.464200e+04,731.000000,6.000000,840.550000,17.000000,10.000000,0.000000,1.104200e+04,0.000000,0.000000,6.287400e+04
75%,1.000000,2.520800e+04,739.000000,10.000000,1249.962500,21.800000,14.000000,0.000000,1.932400e+04,0.000000,0.000000,8.859000e+04
max,1.000000,1.000000e+08,751.000000,10.000000,22939.120000,70.500000,76.000000,11.000000,1.731412e+06,7.000000,11.000000,8.713547e+06

In [47]:
df.corr()

,Loan Status,Current Loan Amount,Credit Score,Years in current job,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens,Annual Income
Loan Status,1.000000,0.209140,0.175907,0.017073,-0.014033,0.030149,-0.017602,-0.009090,0.007167,0.000100,-0.010739,0.040772
Current Loan Amount,0.209140,1.000000,0.011352,0.007064,-0.000128,0.012003,-0.000897,0.001095,0.002317,0.003652,-0.001874,0.011435
Credit Score,0.175907,0.011352,1.000000,-0.014055,-0.073315,0.072351,-0.031537,-0.055463,-0.012647,-0.044716,-0.023808,0.012761
Years in current job,0.017073,0.007064,-0.014055,1.000000,0.143634,0.160344,0.059793,0.021995,0.097000,0.022495,0.003154,0.089669
Monthly Debt,-0.014033,-0.000128,-0.073315,0.143634,1.000000,0.192305,0.412032,-0.056560,0.473985,-0.079879,0.016779,0.482726
Years of Credit History,0.030149,0.012003,0.072351,0.160344,0.192305,1.000000,0.130020,0.060393,0.202267,0.060806,0.021051,0.146095
Number of Open Accounts,-0.017602,-0.000897,-0.031537,0.059793,0.412032,0.130020,1.000000,-0.015721,0.221708,-0.023934,0.004559,0.157476
Number of Credit Problems,-0.009090,0.001095,-0.055463,0.021995,-0.056560,0.060393,-0.015721,1.000000,-0.106359,0.763322,0.579008,-0.024746
Current Credit Balance,0.007167,0.002317,-0.012647,0.097000,0.473985,0.202267,0.221708,-0.106359,1.000000,-0.119902,-0.012301,0.314176
Bankruptcies,0.000100,0.003652,-0.044716,0.022495,-0.079879,0.060806,-0.023934,0.763322,-0.119902,1.000000,0.049904,-0.050864
Tax Liens,-0.010739,-0.001874,-0.023808,0.003154,0.016779,0.021051,0.004559,0.579008,-0.012301,0.049904,1.000000,0.029771
Annual Income,0.040772,0.011435,0.012761,0.089669,0.482726,0.146095,0.157476,-0.024746,0.314176,-0.050864,0.029771,1.000000

In [48]:
df=df.drop(columns=['Loan ID','Customer ID','Years in current job','Monthly Debt','Purpose'],axis=1)

In [49]:
df

,Loan Status,Current Loan Amount,Term,Credit Score,Home Ownership,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens,Annual Income
8,1,10036,Short Term,731.0,Rent,17.7,7,0,11970,0.0,0.0,29696.0
12,0,17980,Short Term,731.0,Own Home,9.9,7,0,6817,0.0,0.0,70931.0
20,0,16929,Long Term,731.0,Mortgage,14.9,10,0,28513,0.0,0.0,40756.0
22,1,7228,Short Term,731.0,Mortgage,17.8,13,1,8488,1.0,0.0,91026.0
26,1,4612,Short Term,731.0,Rent,14.0,4,0,8919,0.0,0.0,36371.0
...,...,...,...,...,...,...,...,...,...,...,...,...
256975,0,34710,Short Term,700.0,Rent,34.0,3,0,2590,0.0,0.0,148755.0
256977,0,11953,Short Term,717.0,Mortgage,11.7,9,1,4176,1.0,0.0,39844.0
256980,1,5078,Short Term,737.0,Own Home,19.1,9,0,1717,0.0,0.0,77186.0
256981,0,12116,Short Term,746.0,Mortgage,15.1,8,0,3315,0.0,0.0,52504.0
256983,1,27902,Long Term,678.0,Mortgage,18.0,10,0,28317,0.0,0.0,117480.0

In [50]:
y=df['Loan Status']
x=df.drop('Loan Status',axis=1)
x=pd.get_dummies(x,drop_first=True)

In [51]:
classification_(x,y)

                  AccuracyScore  PrecisionScore  RecallScore  f1_Score
GradientBoosting       0.819935        0.822909     0.993854  0.900339
Bernoulli              0.818382        0.818382     1.000000  0.900121
SVC                    0.818382        0.818382     1.000000  0.900121
LogisticRegr           0.818382        0.818382     1.000000  0.900121
AdaBoost               0.818799        0.823069     0.991786  0.899585
RandomForest           0.814186        0.826916     0.977567  0.895953
KNeigbors              0.784237        0.824419     0.935618  0.876506
DecisionTree           0.725081        0.838712     0.822178  0.830363
Gaussian               0.346963        0.997212     0.202606  0.336786
Multinominal           0.344182        1.000000     0.198640  0.331443

Alınacak kredi tutarı kredinin geri ödenip ödenmemesini en çok etkileyen etkenlerden biridir.Ayrıca kısa vadeli kredi alan insanlar kredilerini uzun vadeli kredi alanlara göre daha yüksek oranda geri öderler.Ayrıca home mortgage olan insanlarda kendi evi olan yada kirada oturan insanlara göre kredilerini daha yüksek oranda geri ödüyorlar.


def DataFrameWithoutOutliers(DataFrame, CategoryLabel, Degree = 3):
    DataFrame = DataFrame[DataFrame[CategoryLabel] < (DataFrame[CategoryLabel].mean() + (Degree * DataFrame[CategoryLabel].std()))]
    DataFrame = DataFrame[DataFrame[CategoryLabel] > (DataFrame[CategoryLabel].mean() - (Degree * DataFrame[CategoryLabel].std()))]
    return DataFrame

## DEEP LEARNING

In [52]:
x.shape

(215700, 12)

In [53]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)

In [54]:
import tensorflow as tf

In [62]:
import tensorflow as tf
model = tf.keras.Sequential([
                             tf.keras.layers.Dense(512, activation='relu'),
                             tf.keras.layers.Dense(512, activation='relu'),
                             tf.keras.layers.Dropout(0.25),
                             tf.keras.layers.Flatten(),
                             tf.keras.layers.Dense(512, activation='relu'),
                             tf.keras.layers.Dropout(0.50),
                             tf.keras.layers.Dense(512, activation='relu'),
                             tf.keras.layers.Dense(1, activation='softmax')])
#Tek bir sonuç çıktığı için(1 veya 0) son layer 1 olacak ve loss da binary olacak
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
history = model.fit(x_train,y_train, batch_size=128, epochs=40, verbose=1, validation_data=(x_test,y_test))

Epoch 1/40
1349/1349 [==============================] - 12s 9ms/step - loss: 3958.4915 - accuracy: 0.8167 - val_loss: 8.7343 - val_accuracy: 0.8184
Epoch 2/40
1349/1349 [==============================] - 14s 11ms/step - loss: 115.2976 - accuracy: 0.8162 - val_loss: 11.1452 - val_accuracy: 0.8184
Epoch 3/40
1349/1349 [==============================] - 16s 12ms/step - loss: 14.0584 - accuracy: 0.8167 - val_loss: 0.4665 - val_accuracy: 0.8184
Epoch 4/40
1349/1349 [==============================] - 15s 11ms/step - loss: 0.4418 - accuracy: 0.8158 - val_loss: 0.4662 - val_accuracy: 0.8184
Epoch 5/40
1349/1349 [==============================] - 15s 11ms/step - loss: 0.4698 - accuracy: 0.8166 - val_loss: 0.4925 - val_accuracy: 0.8184
Epoch 6/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4402 - accuracy: 0.8167 - val_loss: 0.4400 - val_accuracy: 0.8184
Epoch 7/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4417 - accuracy: 0.8154 - val_loss: 0.4400 - val_accuracy: 0.8184
Epoch 8/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4399 - accuracy: 0.8167 - val_loss: 0.4379 - val_accuracy: 0.8184
Epoch 9/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4367 - accuracy: 0.8192 - val_loss: 0.4381 - val_accuracy: 0.8184
Epoch 10/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4390 - accuracy: 0.8171 - val_loss: 0.4380 - val_accuracy: 0.8184
Epoch 11/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4391 - accuracy: 0.8171 - val_loss: 0.4379 - val_accuracy: 0.8184
Epoch 12/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4401 - accuracy: 0.8167 - val_loss: 0.4379 - val_accuracy: 0.8184
Epoch 13/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4406 - accuracy: 0.8163 - val_loss: 0.4380 - val_accuracy: 0.8184
Epoch 14/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4391 - accuracy: 0.8171 - val_loss: 0.4379 - val_accuracy: 0.8184
Epoch 15/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4421 - accuracy: 0.8152 - val_loss: 0.4380 - val_accuracy: 0.8184
Epoch 16/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4403 - accuracy: 0.8163 - val_loss: 0.4379 - val_accuracy: 0.8184
Epoch 17/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4415 - accuracy: 0.8156 - val_loss: 0.4379 - val_accuracy: 0.8184
Epoch 18/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4398 - accuracy: 0.8170 - val_loss: 0.4379 - val_accuracy: 0.8184
Epoch 19/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4395 - accuracy: 0.8167 - val_loss: 0.4380 - val_accuracy: 0.8184
Epoch 20/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4417 - accuracy: 0.8153 - val_loss: 0.4380 - val_accuracy: 0.8184
Epoch 21/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4392 - accuracy: 0.8172 - val_loss: 0.4382 - val_accuracy: 0.8184
Epoch 22/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4389 - accuracy: 0.8176 - val_loss: 0.4379 - val_accuracy: 0.8184
Epoch 23/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4395 - accuracy: 0.8169 - val_loss: 0.4379 - val_accuracy: 0.8184
Epoch 24/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4413 - accuracy: 0.8159 - val_loss: 0.4382 - val_accuracy: 0.8184
Epoch 25/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4392 - accuracy: 0.8171 - val_loss: 0.4379 - val_accuracy: 0.8184
Epoch 26/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4398 - accuracy: 0.8166 - val_loss: 0.4382 - val_accuracy: 0.8184
Epoch 27/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4407 - accuracy: 0.8163 - val_loss: 0.4380 - val_accuracy: 0.8184
Epoch 28/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4411 - accuracy: 0.8161 - val_loss: 0.4379 - val_accuracy: 0.8184
Epoch 29/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4410 - accuracy: 0.8160 - val_loss: 0.4380 - val_accuracy: 0.8184
Epoch 30/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4396 - accuracy: 0.8172 - val_loss: 0.4380 - val_accuracy: 0.8184
Epoch 31/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4427 - accuracy: 0.8147 - val_loss: 0.4379 - val_accuracy: 0.8184
Epoch 32/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4406 - accuracy: 0.8164 - val_loss: 0.4380 - val_accuracy: 0.8184
Epoch 33/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4393 - accuracy: 0.8172 - val_loss: 0.4380 - val_accuracy: 0.8184
Epoch 34/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4399 - accuracy: 0.8167 - val_loss: 0.4379 - val_accuracy: 0.8184
Epoch 35/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4384 - accuracy: 0.8178 - val_loss: 0.4379 - val_accuracy: 0.8184
Epoch 36/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4394 - accuracy: 0.8171 - val_loss: 0.4380 - val_accuracy: 0.8184
Epoch 37/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4388 - accuracy: 0.8174 - val_loss: 0.4380 - val_accuracy: 0.8184
Epoch 38/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4381 - accuracy: 0.8180 - val_loss: 0.4384 - val_accuracy: 0.8184
Epoch 39/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4380 - accuracy: 0.8182 - val_loss: 0.4380 - val_accuracy: 0.8184
Epoch 40/40
1349/1349 [==============================] - 16s 12ms/step - loss: 0.4404 - accuracy: 0.8166 - val_loss: 0.4379 - val_accuracy: 0.8184

In [63]:
_, accuracy=model.evaluate(x_test, y_test)
print('Accuracy: %.2f' % (accuracy*100))

1349/1349 [==============================] - 2s 1ms/step - loss: 0.4379 - accuracy: 0.8184
Accuracy: 81.84